
<% if(errorMsg && errorMsg.length){ %>
<div class="alert alert-warning alert-dismissible fade show col-6 offset-3" role="alert">
    <%= errorMsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(successMsg && successMsg.length){ %>
<div class="alert alert-info alert-dismissible fade show col-6 offset-3" role="alert">
    <%= successMsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<!-- ADD THIS SCRIPT! -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
