<style>
  #btn i{
    display: inline;
   margin-right: 0.5rem;
  }
  #btn{
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-input{
     border-radius: 25px;
     padding: 0.5rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom ">
  <div class="container-fluid">
    <a class="navbar-brand px-2" href="/listing"><img
        src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/1/airbnb-9xpw4kf7zr9850h17qznf.png/airbnb-4rfqv9z0up9auj6x43g07v.png?_a=DATAg1AAZAA0"
        alt="" height="100" width="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">All Listing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search  destination" aria-label="Search " />
          <button class="btn btn-danger" type="submit" id="btn"><i class="fa-solid fa-magnifying-glass fa-lg"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Airbnb your home</a>
        <% if(!currUser){ %>
          <a class="nav-link " aria-current="page" href="/signup"><b>Signup</b> </a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>
            <% if(currUser){ %>
              <a class="nav-link" href="/logout">Logout</a>
              <% } %>

      </div>
    </div>
  </div>
</nav>